.about {
  display: flex;
  flex-direction: row;
  min-height: 40vh;
  &-text {
    display: flex;
    flex-direction: column;
    background-color: $gris;
    text-align: justify;
    color: white;
    width: 50%;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
    &-title {
        color: black;
        font-size: 60px;
    }
  }
  &-img {
    background-color: $rosa;
    width: 50%;
    display: flex;
    justify-content: center;
    & img {
      height: 100%;
    }
  }
}

.about-button {
  width: 100px;
  background: $rosa;
  color: black;
  border-radius: 10px;
  border: none;
  justify-content: center;
}
