$rosa : #E6B3B3;
$verde : #156070;
$fuscia : #D16680;
$gris : #565656;
$negro: #000000;
$blanco:#ffff;


@import './global.scss';
@import './footer.scss';
@import './home.scss';
@import './collage.scss';
@import './portfolio.scss';
@import './skill.scss';
@import './contact.scss';
